*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fafafa url('../images/background.jpg') no-repeat;
    background-size: cover;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ================================================= */
/* CUSTOM */
/* ================================================= */
.btn{
    height: 40px;
    font-weight: 100;
    background-image: linear-gradient(to bottom, #242424, #666);
    color: white;
    border: none;
    padding: 5px 25px;
    outline: none;
    z-index: 10;
}
.btn:active{
    background-image: linear-gradient(to bottom, #666, black);
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

input {
    height: 34px;
    background: transparent;
    border: 2px solid black;
    padding-left: 15px;
    margin-bottom: 10px;
}
input:focus{
    outline: none;
}
input::-webkit-input-placeholder {
    color: #333;
}
input:-moz-placeholder {
    color: #333;
}
input::-moz-placeholder {
    color: #333;
}
input:-ms-input-placeholder {
    color: #333;
}

/* ================================================= */
/* HOME */
/* ================================================= */

.box-center {
    margin: 50px auto 0 auto;
    max-width: 550px;
    font-size: 18px;
    line-height: 30px;
    padding: 60px;
    text-align: center;
}
.container-input {
    vertical-align: middle;
    white-space: nowrap;
}
.container-input input#search {
    width: 300px;
    float: left;
}
.container-input .btn{
    margin-left: -8px;
}

/* ================================================= */
/* MENU */
/* ================================================= */
.menu{
    background-color: black;
    padding: 15px 0;
}
.menu-content{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}
.menu-content .container-input input#search {
    background-color: white;
    border-color: white;
}
.menu-content .container-input {
    float: right;
    margin-top: 20px;
}

/* ================================================= */
/* LOGIN */
/* ================================================= */
.box-login input{
    width: 60%;
    font-size: 14px;
}

/* ================================================= */
/* CADASTRO */
/* ================================================= */
.formcadastro{
    max-width: 600px;
    margin-bottom: 30px;
}
.formcadastro input{
    width: 70%;
}
.options{
    margin-bottom: 30px;
}
.choice{
    color: black;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid black;
    outline: none;
    text-decoration: none;
}
.choice:focus, .choice:active{
    outline: none;
}

/* ================================================= */
/* DETALHES */
/* ================================================= */
[class^="col"]{
    float: left;
    padding: 10px;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.cavalo-img{
    width: 250px;
    height: 170px;
    object-fit: cover;
}
.vermais{
    margin-left: 70px;
    margin-top: 20px;
}
.hide{
    display: none !important;
}
#arvore_origem {
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
}
#arvore_origem ul{
    padding: 0;
    margin: 0;
    border: 1px solid #333;
}
.pais {
    display: table;
    width: 100%;
}
.pais > li {
    display: table-row;
    margin: 0 0 1px;
}
.pais > li > div {
    border: 1px solid #333;
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    height: 20px;
    line-height: 20px;
}
.avos, .bisavos, .tataravos {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.avos > li, .bisavos > li, .tataravos > li {
    display: table;
    width: 100%;
}
.avos > li > div {
    display: table-cell;
    vertical-align: middle;
    width: 33.1%;
    height: 20px;
    line-height: 20px;
}
.bisavos > li > div{
    display: table-cell;
    width: 49.8%;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}

.tataravos > li > div{
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
}

.avos > li:first-child,
.bisavos > li:first-child,
.tataravos > li:first-child{
    border-bottom: 2px solid #333;
}

ul.bisavos,
ul.tataravos{
    border: none !important;
    border-left: 2px solid #333 !important;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */
@media screen and (max-width: 600px){

    .box-center{
        padding: 15px;
        font-size: 14px;
    }

    .box-center > img{
        width: 200px;
        height: auto;
    }

    .container-input input#search{
        width: auto;
        float: none;
    }

    .menu-content{
        text-align: center;
    }

    .menu-content > img{
        height: 40px;
        width: auto;
    }

    .menu-content .container-input{
        float: none;
    }

    .formcadastro input{
        width: 100%;
    }

    .choice{
        display: block;
        margin-bottom: 10px;
    }

    .col-30, .col-70{
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 710px){

    .menu-content > img{
        height: 40px;
        width: auto;
    }

    .menu-content .container-input{
        margin-top: 0;
    }
}