<div class="menu">
	<div class="menu-content">
		<img src="images/logo_white.png" height="73" width="254" alt="">
		<div class="container-input">
			<input id="search" type="search" placeholder="Nome do cavalo"/>
			<button class="btn">buscar</button>
		</div>
	</div>
</div>

<div class="wrapper">
	<h1>Cadastro</h1>
	<form class="formcadastro" accept-charset="utf-8">
		<input type="text" placeholder="Nome"/>
		<br>
		<input type="text" placeholder="Endereço"/>
		<br>
		<input type="text" placeholder="E-mail"/>
		<br>
		<input type="password" placeholder="Senha"/>
		<br>
		<h3>Forma de pagamento</h3>
		<div class="options">
			<a href="" class="choice">Cartão Pagseguro</a>
			<a href="" class="choice">Boleto</a>
			<a href="" class="choice">Débito em Conta</a>
		</div>
		<button class="btn">Finalizar Cadastro</button>
	</form>
</div>