<div class="menu">
	<div class="menu-content">
		<img src="images/logo_white.png" height="73" width="254" alt="">
		<div class="container-input">
			<input id="search" type="search" placeholder="Nome do cavalo"/>
			<button class="btn">buscar</button>
		</div>
	</div>
</div>

<div class="wrapper">

	<div class="info-cavalo">
		<h1>Nome do cavalo</h1>
		<div class="col-30">
			<img src="images/cavalo-exemplo.jpg" class="cavalo-img" alt="">
			<button onclick="showMore()" class="btn vermais">ver mais</button>
		</div>

		<div class="col-70">
			<div id="arvore_origem">
				<ul class="pais">
					<li>
						<div>WIMPYS LITTLE STEP</div>
						<ul class="avos">
							<li>
								<div>NU CHEX TO CASH</div>
								<ul class="bisavos hide">
									<li>
										<div>NU CASH</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
									<li>
										<div>AMARILA CHEX</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<div>LEOLITA STEP</div>
								<ul class="bisavos hide">
									<li>
										<div>FORTY SEVEN</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
									<li>
										<div>STEP LITE</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<div>SEVEN S MIMOSA</div>
						<ul class="avos">
							<li>
								<div>HOLLYWOOD DUNIT</div>
								<ul class="bisavos hide">
									<li>
										<div>HOLLYWOOD JAC 86</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
									<li>
										<div>BLOSSOM BERY</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<div>MAY DAY HOBBY</div>
								<ul class="bisavos hide">
									<li>
										<div>HOBBY HORSE</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
									<li>
										<div>ROYAL IDA MAY</div>
										<ul class="tataravos">
											<li>
												<div> tata 1</div>
											</li>
											<li>
												<div> tata 2</div>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<script>

	var elements = document.querySelectorAll('.bisavos');
	function showMore() {
		for (var i = elements.length - 1; i >= 0; i--) {
			elements[i].classList.toggle('hide');
		}
    }
</script>