<div class="box-center">
	<img src="images/logo_universo_equestre.png" height="88" width="305" alt="">
    <p class="txt-center">Digite o nome do cavalo que deseja informações</p>
    <div class="container-input">
		<input id="search" type="search"/>
		<button class="btn">buscar</button>
	</div>
</div>

<div>
	<p><a href="pages/login.html" class="link">login</a></p>
	<p><a href="pages/cadastro.html" class="link">cadastro</a></p>
	<p><a href="pages/detalhes.html" class="link">detalhes</a></p>
</div>