<div class="menu">
	<div class="menu-content">
		<img src="images/logo_white.png" height="73" width="254" alt="">
		<div class="container-input">
			<input id="search" type="search" placeholder="Nome do cavalo"/>
			<button class="btn">buscar</button>
		</div>
	</div>
</div>

<div class="box-center box-login">
    <p>Faça seu login</p>
	<input type="text" placeholder="E-mail"/>
	<br>
	<input type="password" placeholder="Senha"/>
	<br>
	<button class="btn">Entrar</button>
</div>